[Unit]
Description=claymore-ubiq

[Service]
ExecStart=/bin/bash -c "{{ miner_applications.claymore.target_directory }}/ethdcrminer64 -epool stratum+tcp://us.ubiqpool.io:8008 -ewal {{ accounts.ubiq }} -epsw x -mode 1 -eworker {{ ansible_hostname }} -allcoins -1 -tt 70 -fanmin 50  -tstop 90"

[Install]
WantedBy=multi-user.target

