[Unit]
Description=ethminer-ubiq

[Service]
ExecStart=/bin/bash -c "{{ miner_applications.ethminer.target_directory }}/bin/ethminer --farm-recheck 2000 -U -SP 1 -S us2.ubiqpool.io:8008 -O {{ accounts.ubiq }}.{{ ansible_hostname }} -FS us.ubiqpool.io:8008"

[Install]
WantedBy=multi-user.target

