[Unit]
Description=ethminer-nanopool

[Service]
ExecStart=/bin/bash -c "{{ miner_applications.ethminer.target_directory }}/bin/ethminer --farm-recheck 2000 -U -S eth-us-west1.nanopool.org:9999 -O {{ accounts.ethereum }}.{{ ansible_hostname }} -FF eth-us-east1.nanopool.org:9999"

[Install]
WantedBy=multi-user.target

